<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ajajajava</display-name>
    <!-- AJAJAJAVA -->

    <servlet>
        <servlet-name>ChangeLocation</servlet-name>
        <servlet-class>de.knurt.ajajajava.control.ChangeLocation</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetLocations_JSON</servlet-name>
        <servlet-class>de.knurt.ajajajava.control.GetLocations_JSON</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeLocation</servlet-name>
        <url-pattern>/ChangeLocation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetLocations_JSON</servlet-name>
        <url-pattern>/GetLocations_JSON</url-pattern>
    </servlet-mapping>

    <!-- OTHER STUFF -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
    </web-app>
